# Python
*.pyc
*.pyo
*.pyd
__pycache__/

# Django
#*.sqlite3
#db.sqlite3
#media/
#staticfiles/

# Environment
.env
.venv/
venv/
environement/
ENV/
env/
venv.bak/
*.env
*.env.local

# IDEs and Editors
.idea/
.vscode/
*.swp

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db
