



{% extends 'accounts/base.html' %}  {% load static %}

        {% block title %}{{title}}{% endblock title %}
        {% block description %}{{description}}{% endblock description %}
     
        {% block main %}

        
            <form method="post" >
                {% csrf_token %}
                <div class="modal-body py-10 px-lg-17" data-select2-id="select2-data-341-gjf8">
                                              
                        <div class="mb-5 fv-row">
                                
                            <label class="required fs-5 fw-semibold mb-2">Antity</label>
                            
                            {{form.board}}
                        <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div></div>
                    
                        <div class="row mb-5">
                            <div class="col-md-6 fv-row fv-plugins-icon-container">
                                
                                <label class="required fs-5 fw-semibold mb-2">Name</label>
                                    
                                {{form.nom}}
                                
                            <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div></div>
                           
                            <div class="col-md-6 fv-row fv-plugins-icon-container">
                               
                                <label class="required fs-5 fw-semibold mb-2">Port Number</label>
                                {{form.gpio}}
                                
                            <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div></div>
                          
                        </div>
                        <div class="fv-row mb-5">
                            
                            <div class="d-flex flex-stack">
                                
                                <div class="me-5">
                                    
                                    <label class="fs-5 fw-semibold">Make it a favorite object?</label>
                                    
                                                               
                                    <div class="fs-7 fw-semibold text-muted">If yes it will display in favorite tab</div>
                                  
                                </div>
                                
                                <label class="form-check form-switch form-check-custom form-check-solid">
                                   
                                    {{form.fav}}
                                 
                                    
                                    <span class="form-check-label fw-semibold text-muted">
                                        Yes
                                    </span>
                                    
                                </label>
                                
                            </div>
                        

                        </div>
                        
                    <div class= "row">
                        <button type="submit" class="btn btn-primary">
                            <span class="indicator-label">
                                Submit
                            </span>
                            <span class="indicator-progress">
                                Please wait... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                            </span>
                        </button>

                    </div>
                    
                </div>
                
                
            </form>
            
        </div>
        
        <div>
        </div>





{% endblock %}