{% load i18n %}{% autoescape off %}
Cher(e) Etudiant {{ user.roll_number }},

Vous recevez ce message en réponse à votre demande de réinitialisation du mot de passe de votre compte associé à cet adresse e-mail.

Veuillez cliquez sur le lien suivant pour choisir un nouveau mot de passe:
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

Si vous n'avez pas demandé cette réinitialisation, quelqu'un est probablement entrain d'essayer d'accéder à votre compte. Veuilez ignorer ce message.

Cordialement,

Services informatiques de Kelor University.

{% endautoescape %}
