{% extends 'accounts/base1.html' %} {% load static %} {% block content %}

{% if validlink %}
<div
  class="d-flex flex-column-fluid flex-lg-row-auto justify-content-center justify-content-lg-end p-12 p-lg-20"
>

  <div
    class="bg-body d-flex flex-column align-items-stretch flex-center rounded-4 w-md-600px p-20"
  >
  
    <div
      class="d-flex flex-center flex-column flex-column-fluid px-lg-10 pb-15 pb-lg-20"
    >
    
      <form
        class="form w-100 fv-plugins-bootstrap5 fv-plugins-framework"
        method = "post"
      >
      {% csrf_token %}
        <div class="text-center mb-10">
          <h1 class="text-gray-900 fw-bolder mb-3">Setup New Password</h1>
          
          <div class="text-gray-500 fw-semibold fs-6">
            Have you already reset the password ?

            <a href="{% url "login" %}" class="link-primary fw-bold"> Sign in </a>
          </div>
          
        </div>
        <div
          class="fv-row mb-8 fv-plugins-icon-container"
          data-kt-password-meter="true"
        >
        
          <div class="mb-1">
            <div class="position-relative mb-3">
              
        {{form.new_password1}}

              <span
                class="btn btn-sm btn-icon position-absolute translate-middle top-50 end-0 me-n2"
                data-kt-password-meter-control="visibility"
              >
                <i class="ki-outline ki-eye-slash fs-2"></i>
                <i class="ki-outline ki-eye fs-2 d-none"></i>
              </span>
            </div>
            

            <div
              class="d-flex align-items-center mb-3"
              data-kt-password-meter-control="highlight"
            >
              <div
                class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"
              ></div>
              <div
                class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"
              ></div>
              <div
                class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"
              ></div>
              <div
                class="flex-grow-1 bg-secondary bg-active-success rounded h-5px"
              ></div>
            </div>
          </div>
          

          <div class="text-muted">
            Use 8 or more characters with a mix of letters, numbers &amp;
            symbols.
          </div>
          <div
            class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"
          ></div>
        </div>
        {{form.new_password2}}
          <div
            class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"
          ></div>
        </div>
        <div class="fv-row mb-8 fv-plugins-icon-container">
          <label class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="checkbox"
              name="toc"
              value="1"
            />

            <span class="form-check-label fw-semibold text-gray-700 fs-6 ms-1">
              I Agree &amp;
              <a href="#" class="ms-1 link-primary">Terms and conditions</a>.
            </span>
          </label>
          <div
            class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"
          ></div>
        </div>
        <div class="d-grid mb-10">
          <button
            type="submit"
            id="kt_new_password_submit"
            class="btn btn-primary"
          >
            <span class="indicator-label"> Submit</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
{% else %}
<div class="popuperror">
  <img src="{% static '/img/popuperror.png' %}" />
  <h2>Lien expiré</h2>
  <p>
    Ce lien n'est plus valide. <br />
    Si vous voulez changer votre mot de passe, veuillez vous connectez ou
    réinitialiser votre mot de passe.
  </p>
  <a href="{% url 'password_reset' %}" class="popuperror-button"
    >Réinitialiser</a
  >
</div>
{% endif %} 

{% if show_popup %}
<div class="popup">
  <img src="{% static '/img/tick.png' %}" />
  <h2>Fait</h2>
  <p>
    Votre mot de passe a été changé avec succès. Veuillez l'utiliser pour
    accéder à votre compte.
  </p>
  <a href="{% url 'login' %}" class="popup-button">Connexion</a>
</div>
{% endif %}
<link
  href="{% static '/popup/style.css' %}?v={{ STATIC_VERSION }}"
  rel="stylesheet"
/>

{% endblock %}
