{%  extends 'students/base1.html' %}
{% load static %}
{% load i18n static %}
{% block content %}

  <div class="card-body">

    <div class="pt-4 pb-2">
      <h5 class="card-title text-center pb-0 fs-4">Changer le Mot de Passe</h5>
      
    </div>

    <form method="post" action=" " class="row g-3 needs-validation">
      {% csrf_token %}


      {% if form.errors %}
      <div class="col-12">
        {% blocktranslate count counter=form.errors.items|length %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktranslate %} 
      </div>
      {% endif %}

      <div class="text-danger">
        {{ form.old_password.errors }}
      </div>

      <div class="col-12">
          <label for="Username" class="form-label">Ancien mot de passe</label>
          <div class="input-group has-validation">
              {{form.old_password}}
          </div>
      </div>

      <div class="text-danger">
        {{ form.new_password1.errors }}
      </div>

      <div class="col-12">
        <label for="Username" class="form-label">Nouveau mot de passe</label>
        <div class="input-group has-validation">
            {{form.new_password1 }}
        </div>
    </div>


    <div class="text-danger">
      {{ form.new_password2.errors }}
    </div>

    <div class="col-12">
      <label for="Username" class="form-label">Nouveau mot de passe</label>
      <div class="input-group has-validation">
          {{form.new_password2 }}
      </div>
    </div>
      <div class="col-12">
          <button class="btn btn-primary w-100" type="submit" name="action" value="change_password">Enregister</button>
      </div>

    </form>

  </div>


{% endblock %}